<!DOCTYPE html>
<head>
<style>
h1{
    color:red;

}
li{
    color:red;
}
body{
    background-color:black;

}
h1{
    color:red;
    text-align: center;
}
</style>
</head>
<body>
<h1>GRAPH</h1>
    <select>
        <option disabled="true" selected>-- Select Symbol --</option>
         {% for item in dataset %}
        <option>{{item.content}}</option>
        {% endfor %}
        </select>
<form action="/graph/" method="POST">{% csrf_token %}
<input type="text" name="graph"/>
<input type="submit" value="Get-GRAPH"/>
</form>
</body>
</head>
</html>